.button{
    -fx-background-color: transparent;
}

#openFile
{
    -fx-background-image: url("../img/folder_open.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#playButton
{
    -fx-background-image: url("../img/play1.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#pauseButton
{
    -fx-background-image: url("../img/pause.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#stopButton
{
    -fx-background-image: url("../img/stop.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}